
<div class="footer">

  <div class="row">

    <div class="col-6 link d-flex justify-content-center align-items-center">
      <a routerLink="/mentions_legales"> MENTIONS LEGALES </a>
      <span>|</span>
      <a routerLink="/contact"> CONTACT </a>
      <span>|</span>
      <a routerLink="/qui_sommes_nous"> QUI SOMMES NOUS </a>
      <span>|</span>
      <a routerLink="/communaute"> COMMUNAUTE </a>
    </div>
    <div class="col-6 social d-flex justify-content-end">
      <a href="https://fr-fr.facebook.com/">
        <img src="../../assets/footer/facebook.png" alt="facebook">
      </a>
      <a href="https://www.instagram.com/">
        <img src="../../assets/footer/instagram.png" alt="instagram">
      </a> &nbsp;&nbsp;
      <a href="https://www.snapchat.com/fr-FR">
        <img src="../../assets/footer/snapchat.png" alt="snapchat">
      </a> &nbsp;&nbsp;
      <a href="https://www.tiktok.com">
        <img src="../../assets/footer/tiktok.png" alt="tiktok">
      </a> &nbsp;&nbsp;
      <a href="https://twitter.com">
        <img src="../../assets/footer/twitter.png" alt="twitter">
      </a> &nbsp;&nbsp;
    </div>
  </div>

</div>
