<div class="container-infos">
  <div class="container-infos-text">
    <p class="text-center">
      Bienvenue sur The Bartender’s Bible <br>
      Ici vous découvrirez la recette d'un grand classique : le Cuba Libre !
    </p>
  </div>
</div>

<div class="container">
  <h1>
    CUBA LIBRE
  </h1>
  <div class="cuba_libre">
    <p>
      Ingrédients : <br>
      6 cl de rhum cubain (havana club, bacardi) <br>
      4 cl de jus de citrons verts <br>
      15 cl de cola (coca cola, pepsi) <br>
    </p>
  </div>
  <div class="img-fluid cuba_libre">
    <img src="../../assets/body/cuba_libre.png" alt="cubalibre">
  </div>
</div>
