
<div class="container-infos">
  <div class="container-infos-text">
    <p class="text-center">
      Bienvenue sur la page de connexion <br>
      Ici vous pourrez nous envoyer vous connecter sur votre compte
      et accéder à vos recettes vos favoris et autres.
    </p>
  </div>
</div>


<div class="container">
  <h1>
    SE CONNECTER
  </h1>
  <div class="formulaireco">
    <input type="text" id="mail" name="email" required="required" placeholder="Adresse mail">
    <input type="password" id="mdp" name="motpasse" required="required" placeholder="Mot de passe">
    <a routerLink="/infos_persos">
      <input type="submit" class="btn btn-primary" value="Envoyer">
    </a>
  </div>
</div>
