<div class="container-infos">
  <div class="container-infos-text">
    <p class="text-center">
      Bienvenue sur la page de contact <br>
      Ici vous pourrez nous envoyer un mail contenant vos retours vos suggestions et vos questions éventuelles.
    </p>
  </div>
</div>


<div class="container">
  <h4>
    NOUS CONTACTER
  </h4>
    <div class="formulaire">
      <input type="text" id="nom_prenom" name="nomprenom" required="required" placeholder="Nom et Prénom">
      <input type="text" id="mail" name="email" required="required" placeholder="Adresse Mail">
      <textarea id="texte_message" name="message" required="required" placeholder="Votre Message"></textarea>
      <input type="submit" class="btn btn-primary" value="Envoyer">
    </div>
</div>
