<div class="container-infos">
  <div class="container-infos-text">
    <p class="text-center">
      Bienvenue sur The Bartender’s Bible <br>
      Ici vous découvrirez la recette d'un grand classique : le Gin Tonic !
    </p>
  </div>
</div>

<div class="container">
  <h1>
    GIN TONIC
  </h1>
  <div class="gin_tonic">
    <p>
      Ingrédients : <br>
      3 cl de gin <br>
      Tonic (schweppes) <br>
    </p>
  </div>
  <div class="img-fluid gin_tonic">
    <img src="../../assets/body/gin_tonic.jpg" alt="gintonic">
  </div>
</div>
