<div class="container-infos">
  <div class="container-infos-text">
    <p class="text-center">
      Bienvenue dans la partie qui sommes nous ? <br>
      Ici vous découvrirez qui a contribué à la création de ce site.
    </p>
  </div>
</div>


<div class="container">
  <h4 class="container-infos-text">
    QUI SOMMES NOUS ?
  </h4><br>
  <p>
    Nous sommes deux jeunes développeurs amateurs de spiritueux et nous souhaitions partager
    cet amour avec le plus grand nombre de personnes.
  </p><br>
  <img src="../../assets/body/happy_people.jpg" alt="nous" class="nous_body img-fluid">
</div>
