<div class="container-infos mt-3">
  <div class="container-infos-text">
    <p class="text-center">
      Bienvenue sur The Bartender’s Bible <br>
      Ici vous découvrirez des recettes communautaires alcoolisées et non alcoolisées <br>
      afin d’animer vos soirées
    </p>
  </div>
</div>


<div class="container">
  <h2 class="cocktail-title">
    Les derniers cocktails
  </h2>

  <div class="row">
    <div class="col-4 cocktails-cards" *ngFor="let cocktail of cocktails">
      <app-cocktail-show [recipe]="cocktail"></app-cocktail-show>
    </div>
  </div>


  <div class="container">
    <h2 class="cocktail-title">
      Les ingrédients les plus utilisés
    </h2>

    <div class="row">
      <div class="col-3 cocktails-cards" *ngFor="let ingredient of ingredients">
        <app-ingredient-show [ingredient]="ingredient"></app-ingredient-show>
      </div>
    </div>
  </div>

</div>
