
.container-infos
{
  background-image: url("../assets/body/cocktail_background.jpg");
  height: 400px;
  position: relative;

  .container-infos-text
  {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
    background-color: $background-infos;
    border-radius: 1em;
    padding: 3.5em 5em;
    font-weight: bold;
    font-size: 25px;
  }

  .infos-cocktails
  {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
    border-radius: 1em;
    padding: 15em 20em;
    font-weight: bold;
    font-size: 25px;
  }
}


.cocktail-title
{
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 4em;
}

.nous_body
{
  position: relative;
  max-height: 500px;
  max-width: 500px;
}

.texte_header
{
  text-align: center;
  font-size: 1em;
  margin: auto;
}

.formulaire
{
  font-size: 2em;
  margin: 1em auto;
  //background-image: url("../assets/body/contact_us.jpg");
  height: auto;
  width: auto;
  position: relative;
  display: grid;
  justify-content: center;
}

.formulaireco
{
  font-size: 2em;
  margin: 2em;
  height: auto;
  width: auto;
  position: relative;
  display: grid;
  justify-content: center;
  border-radius: 1em;
}

.commu
{
  position: relative;
  max-height: 1%;
  max-width: 1%;
}

.container_ing
{
  display: grid;
  margin: 1em auto;
  justify-content: flex-start;
  justify-content: space-between;
}

.mojito
{
  position: relative;
  margin: 1em auto;
  height: 200px;
  width: 300px;
  display: flex;
}

.cuba_libre
{
  position: relative;
  height: 200px;
  width: 300px;
  display: flex;
  margin: 1em auto;
}

.gin_tonic
{
  position: relative;
  height: 200px;
  width: 300px;
  display: flex;
  margin: 1em auto;
}

.sex_beach
{
  position: relative;
  height: 200px;
  width: 300px;
  display: flex;
  margin: 1em auto;
}

.seasun
{
  position: relative;
  height: 200px;
  width: 300px;
  display: flex;
  margin: 1em auto;
}

.funcola
{
  position: relative;
  height: 200px;
  width: 300px;
  display: flex;
  margin: 1em auto;
}

.pink {
  background-color: deeppink;
}
