
.navbar
{
  height: 11em;

  .container-fluid {
    height: 100%;

    .img-home {
      height: 75%;
      width: 45%;
    }
  }

  .ws-title {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }
}
